
html{
 font-size: 18px!important;
 font-family: 'Lato', sans-serif !important;
}
a{
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100vw;
 }
 .mainNav{

     background: black;
 }
.navList {
    display: flex;
    flex-wrap: wrap;
}
.navList li {
    padding: 1.6rem 0;
}

.navLink {
    text-transform: uppercase;
    color: white;
    padding: 1.5rem;
    background: black;
}
.navLink:hover{
    background: white;
    color: black;
}
.home {
    text-align: center;
    margin: 4rem auto;
}
.home h1{
    margin: 2rem 0 ;
    font-size: 4rem;
}
.searchBox{
    margin: 1.3rem auto;
    text-align: center;
    width: 80%;
}
.searchInput {
    padding: .7rem;
    font-size: 1.3rem;
}

.main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.flagImg{
    margin: auto;
}

.flagList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.singleCountry{
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    flex: 1;
}
.singleCountry a{
    margin: 0 auto;
}
.singleCountry:hover{
    background: #d7d7d7;
}
.deleteBtn{
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
.countryName{
    margin: .5rem auto;
    text-transform: uppercase;
}
.countryLogo{
    width: 15rem;
    height: 10rem;
    margin: 0 auto;
}

.selectBox{
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}
.selectRegionInput{
    font-size: 1.3rem;
}

/*flag details component*/

.detailsFlagBox{
    margin-top: 2rem;
    display: flex;
    flex-flow: column wrap;
}

.flagImg{
    width:20rem;
}

.infoDetail{
    margin: .5rem 0;
    padding: .5rem 0;
    border-bottom: 1px dotted rgb(209, 209, 209);
}
.infoWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.label{
    text-transform: uppercase;
    color: #2297d8;
}

.subInfoList{
    padding: .5rem 0 1rem .5rem;

}
.subInfoDetail{
    margin: .3rem 0;
    border-bottom: 1px dotted #d7d7d7;
    padding: .2rem 0;
}

.paginationBox{
    text-align: center;
    margin: 2rem; 
}
.perPageBox{
    margin-top:1rem;
}
.paginationBtn{
    border:0;
    background: transparent;
    border: 1px solid black;
    padding: .2rem .5rem;
    border-radius: 3px;
    cursor: pointer;
    margin-left: .3rem;
    font-weight: bold;
}
.paginationBtn.active{
    background: #2297d8;
}
.paginationBtn:hover{
    background: #2297d8;
}

@media all and (min-width: 320px) and (max-width: 420px) {

    html{
        font-size: 14px!important;
    }
    .navList{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .flagImg{
        width: 10rem;
    }

    .home h1{
        font-size: 2rem;
        word-break: break-all;
        white-space: normal;
    }
}